/* Top Nav */
#leftNav {
    float: left;
    padding-left: 20px;
    padding-top: 20px;
}
#rightNav {
    float: right;
    padding-right: 20px;
    padding-top: 20px;
}
.dot {
    height: 30px;
    width: 30px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
/* Search Bar */
div.searchDiv {
    margin: 0 auto;
    padding-top: 20px;
    width: 45%;
}
#topSearch {
    display: inline;
    width: 85%;
    height: 25px;
    font-size: 18px;
    font-family: Arial, sans-serif;
}
#searchButton {
    float: right;
    width: 10%;
    height: 30px;
    border-radius: 0%;
}
/* Sidebar */
aside.thumbnails {
    float: right;
    padding-bottom: 50%;
    width: 30%;
}
.thumbText {
    line-height: 15px;
}
.thumbImage {
    float: left;
}
/* Main Video Section */
#videoPlayer {
    display: block;
}

/* Footer (Comments) */